package views

templ HomeView() {
	@HTMLBase("IMDB Frontend") {
		<h1 class="text-2xl">IMDB Frontend</h1>
		<label for="search">Search for people and movies:</label>
		<input type="search" id="search" placeholder="Search..."/>
		<button>Search</button>
	}
}
