package components

templ Header(showSearchBox bool) {
	<header class="flex place-content-between bg-yellow-500 p-5 items-center">
		<p class="text-2xl font-bold"><a href="/" class="no-underline text-black">IMDB Frontend</a></p>
		if showSearchBox == true {
			@SearchBox()
		}
	</header>
}
