package pages

import "github.com/hayden36/imdb-frontend/components"

templ HomeView() {
	@HTMLBase("IMDB Frontend") {
		@components.Header(false)
		<div class="flex justify-center my-5">
			@components.SearchBox()
		</div>
	}
}
