package pages

import (
	"github.com/hayden36/imdb-frontend/structs"
	"github.com/hayden36/imdb-frontend/utils"
)

templ TitleView(title structs.MovieShow) {
	@HTMLBase(title.Name) {
		<h1>{ title.Name }</h1>
		<p>{ title.Plot }</p>
		<h2>Top Cast</h2>
		<ul>
			for _, item := range title.TopCast {
				<li><a href={ templ.URL(utils.RemoveRefs(item.Link)) }>{ item.Name }</a></li>
			}
		</ul>
	}
}
